# Ignore volatile UI-related state
docs/.obsidian/workspace.json
docs/.obsidian/app.json
docs\03_Secrets\*

# Ignore system and editor files
.vscode/
.idea/

.DS_Store
Thumbs.db
docs/.obsidian/appearance.json

#Ignore neo4j files

neo4j/data/
neo4j/logs/
neo4j/import/
neo4j/plugins/
