# Ignore volatile UI-related state
docs/.obsidian/workspace.json
docs/.obsidian/app.json
docs\03_Secrets\*
docs/.obsidian/
**.ttl

# Ignore system and editor files
.vscode/
.idea/

.DS_Store
Thumbs.db
docs/04_General/infrastructure/neo4j/data/
docs/04_General/infrastructure/neo4j/logs/
docs/04_General/infrastructure/neo4j/import/
docs/04_General/infrastructure/neo4j/plugins/




